body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding:0;
}

#board {
    height: 540px;
    width: 630px;
    background-color:#e6e612;
    border: 10px solid yellow;    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid yellow;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color:rgb(37, 157, 184);
}
